### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

df_pd = pd.DataFrame(purchase_data)
df_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [34]:
player_count = df_pd["SN"].nunique()


print(f"Total number of unique players: {player_count}") 

df_players = df_pd[['SN', 'Age','Gender']]
df_players = df_players.sort_values('SN')
df_players = df_players.drop_duplicates()
#df_players

Total number of unique players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [35]:
#= reduced_kickstarter_df.loc[reduced_kickstarter_df["country"] == "US"]
uniqueItems = fd_pd["Item ID"].nunique()
totalPurchase = fd_pd["Purchase ID"].count()
totalRev = fd_pd["Price"].sum()
avgPrice = fd_pd["Price"].mean()


print(male)

purchase_summary = pd.DataFrame({"Unique Items": uniqueItems, "Average Item Price":avgPrice, "Total Items Sold":totalPurchase
                            , "Total Revenue":totalRev},index=[0])
purchase_summary.head()

484

   Unique Items  Average Item Price  Total Items Sold  Total Revenue
0           183            3.050987               780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [36]:
df_players = df_pd[['SN', 'Age','Gender']]
df_players = df_players.sort_values('SN')
df_players = df_players.drop_duplicates()
male_players = df_players.loc[df_players["Gender"] == "Male","Gender"].count()
female_players = df_players.loc[df_players["Gender"] == "Female", "Gender"].count()
other_players = df_players.loc[df_players["Gender"] == "Other / Non-Disclosed", "Gender"].count()

male_percent = male_players/player_count
female_percent = female_players/player_count
other_percent = other_players/player_count

df_players

gender_demo = pd.DataFrame({"Total Players": [player_count], "Male Players":[male_players], "Male Percent":[male_percent]
                            , "Female Players":[female_players], "Female Percent":[female_percent]
                            , "Other Players":[other_players], "Other Percent":[other_percent]})
gender_demo.head()

,Total Players,Male Players,Male Percent,Female Players,Female Percent,Other Players,Other Percent
0,576,484,0.840278,81,0.140625,11,0.019097


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame